body{
    margin:0;
    background:white;
}

.map-wrapper {
  width: 100%;
  position: relative;

}

@media (min-width: 756px) {
  .map-wrapper {
    width: 25%;
  }
}

.map-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}


.hotspot {
  position: absolute;
  z-index: 10;
  background: rgba(255, 0, 0, 0.3); /* visible for adjustment */
}




