body{
    margin:0;
    background:white;
}

/* Default (mobile): full size */
img[usemap] {
  width: 100%;
  height: auto;
  display: block;
}

/* Desktop only: make it smaller */
@media (min-width: 756px) {
  img[usemap] {
    width: 15%; !important
    height: auto; !important
  }
}




